*, *::after, *::before {
    box-sizing: border-box;
}

body {
    background-color: #F6F6F6;
    color: #de4848;
}

.flip-card {
    display: inline-flex;
    flex-direction: column;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .5);
    border-radius: .1em;
}

.top, .bottom {
    height: .75em;
    line-height: 0.86; 
    padding: .25em;
    overflow: hidden;
}

.top {
 background-color: #c0c0c0;
 border: 1px solid #333;
 border-bottom: none;
 border-top-right-radius: .1em;
 border-top-left-radius: .1em;
}

.bottom {
 background-color: white;
 border: 1px solid #333;
 border-top: none;
 display: flex;
 align-items: flex-end;
 border-bottom-right-radius: .1em;
 border-bottom-left-radius: .1em;
}